
.t1{
    
}
.t1:hover{
    text-decoration: none;
    color: rgb(51, 47, 47);
}
body{
    margin: 0px;
    background-color: #fff;
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1rem;
}
.btn{
    border-radius: 25px;
    border-width: 2px;
    background: #00d2b5;
    border-color: #00d2b5;
    color: #fff;
    -webkit-box-shadow: 9 4px 20px -5px rgb(0 210 181 / 40%);
    box-shadow: 0 4px 20px -5px rgb(0 210 181 / 40%);
}
.btn:hover{
    background-color: white;
    color: black;
    border-color: #00d2b5;
}
.t2{
   
    font-weight: 700;
    color: rgb(22, 21, 21);
}

.icon1 {
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    display: inline-block;
    background-color: #00d2b5;
    -webkit-box-shadow: 0 4px 20px -5px rgb(0 210 181 / 40%);
    box-shadow: 0 4px 20px -5px rgb(0 210 181 / 40%);
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.blk{
    background-color: #a09b9b hq  ;
}
.tex3{
    color: rgb(24, 23, 23);
}
.card{

}
.card:hover{
    background-color:#00d2b5 ;
    color: white;
    transform: scale(1.10); 
 
}
.text-black{
   
    color: rgb(33 28 28);
    font-weight: 700;
   
}
.border-bottom{
    border-bottom: 1px solid #dee2e6!important;
}

.circle{
    border-radius: 50%;
    background-color: #0afada;
   padding: .85em;
    
    text-align: center;
}
timeline .corner {
    border: 3px solid #00d2b5;
    width: 100%;
    position: relative;
    border-radius: 15px;
}
.timeline .top-right {
    left: 50%;
    top: -50%;
}
.l1{
    border: 2px solid #00d2b5;
    width: 100%;
    position: relative;
}
.txb{
    color: black;
}



.blue-bg {
  
  color: #00d2b5;
  height: 100%;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color:#00d2b5;
  color: #4D4545;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #00d2b5;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #00d2b5;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #00d2b5;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
.option-section{
    background-color: #f7f4f4;
}
.section-title {

    padding-top: .5em;
    color: #000;
    font-size: 40px;
    font-weight: 900;
    padding-left: 1em;
    
}
.container {
    max-width: 960px;
}




.unit-4{
   
    color: #000;
    font-size: 16px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    top: 0;
}
.unit-4:hover
{
    background-color: #00d2b5;
    transition: .3s all ease;
    top: -7px;
    color: #fff;
    
}

.faq-message {
    border-radius: 0.25rem;
    font-family: "SanFrancisco";
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
  
  .faq-message p {
    border-radius: 25px;
    font-size: 16px;
    line-height: 1.25;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .faq-message p::before,
  .faq-message p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
  }
  
  p.from-me {
    /* align-self: flex-end; */
    background-color: #22d1b5;
    color: #fff; 
    text-align: right;
    min-width: fit-content;
    max-width: 400px;
    position: relative;
    transition: all .5s;
  }
  p.from-me:hover{
    transition: all .3s ease;
    bottom: -10px;
  }
  p.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #22d1b5;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
  }
  
  p.from-me::after {
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
  }
  
  p[class^="from-"] {
    margin: 0.5rem 0;
    /* width: fit-content; */
  }
  
  p.from-me ~ p.from-me {
    margin: 0.25rem 0 0;
  }
  
  p.from-me ~ p.from-me:not(:last-child) {
    margin: 0.25rem 0 0;
  }
  
  p.from-me ~ p.from-me:last-child {
    margin-bottom: 0.5rem;
  }
  
  p.from-them {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
    transition: all .5s;
  }
  p.from-them:hover{
    transition: all .5s;
    bottom: -10px;
  }
  
  p.from-them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
  }
  
  p.from-them::after {
    background-color: #fff;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
  }
/* FAQ ENDS HERE */




.ad-head{
    font-weight: 500;
}

.address-section{
    padding-top: 12em;
    
}
.details{
    color: #22d1b5;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
}
.details a{
    text-decoration: none;
    color: #22d1b5;
    transition: .3s all ease;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
}
.details a:hover{
    color: #008673;
    transition: .3s all ease;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
}

.f-icon a{
    text-decoration: none;
    color: #22d1b5;
    transition: .3s all ease;
}
.f-icon a:hover{
    text-decoration: none;
    color: #008673;
    transition: .3s all ease;

}
#goto-button{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #22d1b5;
  transition: all 0.5s;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#goto-button:hover{
    transition: all 0.5s;
    background-color: #555;
}

  
  
  /* form */
  

  .inputtextc{
  border: none;
  outline:none;
  font-weight: 200;
  }
  .input-underline{
    border-bottom: 1px solid rgb(206, 205, 205);
    padding: 40px 5px 10px 5px;
    
  }
  .rowhalf{
  margin-right: 80px;
  
  }
  #gender{
    outline: none;
  }
  select{
    border: none;
    outline:none;
    font-weight: 200;
  }

  .inputtextarea{
    overflow: auto;
    resize: vertical;
    width: 780px;
    border: none;
    outline:none;
    font-weight: 200;
  }

  .submitbutton{
    width: 780px;
    border-radius: 3px;
    border: none;
    padding: 15px;
    background-color: #22d1b5;
    color: white;
  }

  .submit{
    padding-top: 60px;
  }

  .submitbutton:hover{
    background-color: #3caea8;
  }

  .copyright{
    text-align: center;
    padding: 100px;

  } 
/*
.title{
 

  padding-top: .5em;
  padding-left: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 37px;
    color: #22d1b5;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.input--style-2 {
  padding: 9px 0;
  color: #666;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight: 300;
} */

.xrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.xrow-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.xcol-2 {
  width: -webkit-calc((100% - 60px) / 2);
  width: -moz-calc((100% - 60px) / 2);
  width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
  .xcol-2 {
    width: 100%;
  }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-xwrapper {
  min-height: 100vh;
}

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight:300;
}

.form-holder input, textarea, select, button {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-light{
  background: #ebebeb;
}

.bg-white{
  background: #FFFFFF;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  padding-top: 100px;
}

.p-t-180 {
  padding-top: 180px;
}

.p-t-20 {
  padding-top: 20px;
}
.p-t-10 {
  padding-top: 10px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.p-b-50 {
  padding-bottom: 100px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.xwrapper {
  margin: 0 auto;
}

.xwrapper--w960 {
  max-width: 960px;
}

.xwrapper--w680 {
  max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.xbtn {
  line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  color: #fff;

  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
}

.xbtn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.xbtn--green {
  background: #22c9b5;
}

.xbtn--green:hover {
  background: #4dae3c;
}

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;

  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}


input,textarea {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;

}

span>input{
  width: auto;
}





.input-group {
  position: relative;
  margin-bottom: 32px;
  border-bottom: 1px solid #e5e5e5;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.input--style-2 {
  padding: 9px 0;
  color: #666;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight:300;

}

.input--style-2::-webkit-input-placeholder {
  
  color: #808080;
}

.input--style-2:-moz-placeholder {
  
  color: #808080;
  opacity: 1;
}

.input--style-2::-moz-placeholder {
 
  color: #808080;
  opacity: 1;
}

.input--style-2:-ms-input-placeholder {
 
  color: #808080;
}

.input--style-2:-ms-input-placeholder {
 
  color: #808080;
}


.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 36px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 0;
  color: #808080;
  font-size: 16px;


}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  right: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 18px;
  color: #ccc;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */

.title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 37px;
  color: #22d1b5;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

/* ==========================================================================
   #xcard
   ========================================================================== */
.xcard {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.xcard-2 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  display: table;
}

.xcard-2 .xcard-heading {

  width: 0%;
  display: table-cell;
}

.xcard-2 .xcard-body {
  display: table-cell;
  padding: 80px 90px;
  padding-bottom: 88px;
}

@media (max-width: 767px) {
  .xcard-2 {
    display: block;
  }
  .xcard-2 .xcard-heading {
    width: 100%;
    display: block;
    padding-top: 300px;
    background-position: left center;
  }
  .xcard-2 .xcard-body {
    display: block;
    padding: 60px 50px;
  }
}

.error{
  color: red;
}






























































































































































































































































































































